<div class="pdf-view">
    <div class="pdf-container">

        <div id="pdf" #pdf class="pdf">

            <div *ngFor="let day of calendar"> 
                <div *ngIf="day.meal_id" class="day">
                    <div class="date">{{day.date}}</div>
        
                    <div *ngIf="getMealById(day.meal_id)" class="meal">
                        <img mat-card-image class="img" [src]="getMealById(day.meal_id).image ? getMealById(day.meal_id).image : 'https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930' ">

                        <div class="property"><span class="title">Nombre: </span>{{getMealById(day.meal_id).name }}</div>
                        <div class="property"><span class="title">Descripción: </span>{{getMealById(day.meal_id).description }}</div>
                        <div class="property"><span class="title">Kcal(100g): </span>{{getMealById(day.meal_id).kcal }}</div>
                        <div class="property"><span class="title">Temporadas: </span>{{getMealById(day.meal_id).seasons }}</div>
                        <div class="property"><span class="title">Tipo: </span>{{getMealById(day.meal_id).type }}</div>
                        <div class="property"><span class="title">Ingredientes: </span>{{getMealById(day.meal_id).ingredients }}</div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>


    <button mat-button (click)="exportPdf()" class="download-btn">Descargar PDF</button>
</div>
