<div class="view">
    <div class="container" id="container" [ngClass]="isLogin ? '' : 'right-panel-active'">
	
        <div class="form-container sign-up-container">
            <form [formGroup]="signUpForm">
                <h1>Create Account</h1>
    
                <input [formControlName]="'name'" type="text" placeholder="Name"/>
    
                <input [formControlName]="'email'" type="email" placeholder="Email"/>
                <mat-error *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').touched">
                    A valid email is needed
                </mat-error>
    
                <input [formControlName]="'password'" type="password" placeholder="Password"/>
                <mat-error *ngIf="signUpForm.get('password').invalid && signUpForm.get('password').touched">
                    A valid password is needed
                </mat-error>
    
                <button (click)="signUp()" [disabled]="!signUpForm.valid">Sign Up</button>
    
                <div *ngIf="errorMsg">
                    {{errorMsg}}
                </div>
            </form>
        </div>
    
        <div class="form-container sign-in-container">
            <form [formGroup]="loginForm">
                <h1>Sign in</h1>
    
                <input [formControlName]="'email'" type="email" placeholder="Email"/>
                <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                    A valid email is needed
                </mat-error>
    
                <input [formControlName]="'password'" type="password" placeholder="Password"/>
                <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                    A valid password is needed
                </mat-error>
    
                <button (click)="login()" [disabled]="!loginForm.valid">Sign In</button>
    
                <div *ngIf="errorMsg">
                    {{errorMsg}}
                </div>
            </form>
        </div>
        
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button (click)="changeForm()" class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend!</h1>
                    <p>Enter your personal details and start journey with us</p>
                    <button (click)="changeForm()" class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
