<mat-card class="meal-dialog">
    <mat-card-header>
        <mat-card-title>{{meal.name}}</mat-card-title>
    </mat-card-header>

    <mat-card-content >
        <div class="img-wrap">
            <img mat-card-image class="img" [src]="meal.image ? meal.image : 'https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930' ">
        </div>
        <p class="description"><b>Descripción:</b> {{meal.description}}</p>
        <p class="ingredients"><b>Ingredientes: </b>{{meal.ingredients}}</p>
        <p><b>Kcal(100g):</b> {{meal.kcal}}</p>
        <p><b>Temporadas: </b>{{meal.seasons}}</p>
        <p><b>Tipo: </b>{{meal.type}}</p>
    </mat-card-content>
</mat-card>


