<div class="view">
    <div class="container" id="container" [ngClass]="isLogin ? '' : 'right-panel-active'">
	
        <div class="form-container sign-up-container">
            <form [formGroup]="signUpForm">
                <h1>Crear una Cuenta</h1>
    
                <input [formControlName]="'name'" type="text" placeholder="Name"/>
    
                <input [formControlName]="'email'" type="email" placeholder="Email"/>
                <mat-error *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').touched">
                    Es necesario un mail válido.
                </mat-error>
    
                <input [formControlName]="'password'" type="password" placeholder="Password"/>
                <mat-error *ngIf="signUpForm.get('password').invalid && signUpForm.get('password').touched">
                    Es necesario una contraseña válida: mínimo 8 caracteres, 1 mayúscula, 1 minúscula, 1 número y 1 carácter especial.
                </mat-error>
    
                <button (click)="signUp()" [disabled]="!signUpForm.valid">Registrarse</button>
            </form>
        </div>
    
        <div class="form-container sign-in-container">
            <form [formGroup]="loginForm">
                <h1>Iniciar Sesión</h1>
    
                <input [formControlName]="'email'" type="email" placeholder="Email"/>
                <mat-error *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                    Es necesario un mail válido.
                </mat-error>
    
                <input [formControlName]="'password'" type="password" placeholder="Password"/>
                <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                    Es necesario una contraseña válida: mínimo 8 caracteres, 1 mayúscula, 1 minúscula, 1 número y 1 carácter especial.
                </mat-error>
    
                <button (click)="login()" [disabled]="!loginForm.valid">Iniciar Sesión</button>
            </form>
        </div>
        
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>¡Bienvenido!</h1>
                    <p>Introduce los datos necesarios para comenzar a usar nuestra aplicación</p>
                    <p>¿Ya tienes una cuenta creada? Inicia sesión</p>
                    <button (click)="changeForm()" class="ghost" id="signIn">Iniciar Sesión</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>¡Me alegra verte de nuevo!</h1>
                    <p>Por favor, incia sesión con tu email y contraseña para seguir disfrutando de nuestra aplicación</p>
                    <p>¿No estas registrado aún? Crea una cuenta</p>
                    <button (click)="changeForm()" class="ghost" id="signUp">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
</div>
