.meal-view {
    //height: calc(100% - 75px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.meals-search {
    display: flex;
    width: 97%;
}

.meals {
    width: 95%;
    height: auto;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: baseline;
    gap: 10px 30px;
}